/* 1. Diminuir o título principal e subheader */

h1 {

    font-size: 1.8rem !important;

    margin-bottom: 0px !important;

}



h3 {

    font-size: 1.2rem !important;

    margin-top: 0px !important;

}



/* 2. Diminuir as métricas (ROI, Payback, Savings) */

/* O rótulo (Label) */

[data-testid="stMetricLabel"] {

    font-size: 0.8rem !important;

}



/* O valor numérico */

[data-testid="stMetricValue"] {

    font-size: 1.5rem !important;

}



/* 3. Diminuir os textos dentro dos containers/cards */

.stMarkdown p {

    font-size: 0.9rem !important;

    line-height: 1.2 !important;

}



/* 4. Ajustar os títulos das colunas (Ano 2023, etc) */

h4 {

    font-size: 1rem !important;

    text-align: center;



/* Deixar os botões com o dourado da EA Makers */

.stButton>button {

    background-color: #a9871fd5 !important;

    color: white !important;

    border-radius: 10px;

    border: none;

    height: 3em;

    width: 100%;

}



/* Mudar a cor de fundo da página */

.stApp {

    background-color: #f2f2f2;

}

/* Fundo para todos os blocos de métricas */

[data-testid="stMetric"] {

    background-color: #f0f2f6;

    padding: 15px;

    border-radius: 10px;

    border: 2px solid #a9871fd5;

}

/* Aplica um fundo cinza bem claro e arredonda os blocos do Streamlit */

[data-testid="stVerticalBlockBorderWrapper"] > div {

    background-color: #d4af37; /* Cor de fundo bem leve */

    border-radius: 15px;       /* Cantos bem arredondados */

    padding: 10px;

}



/* Remove a borda cinza padrão se quiser um visual ainda mais "clean" */

[data-testid="stVerticalBlockBorderWrapper"] {

    border: none !important;

}

/* Stylepy.css */

[data-testid="stSidebar"] {

    background-color: #E5E4E2; /* Substitua pela cor da EA Makers */

    color: black;

}



/* Para mudar a cor dos textos e ícones dentro do menu */

[data-testid="stSidebar"] .stMarkdown, [data-testid="stSidebar"] label {

    color: #fffff;

}

/* Stylepy.css */

/* Remove o espaço em branco no topo do dashboard */

.block-container {

    padding-top: 1rem;

    padding-bottom: 0rem;

    padding-left: 2rem;
    
/* 5. BOTÕES PERSONALIZADOS */
.stButton>button {
    background-color: #a9871fd5 !important;
    color: white !important;
    border-radius: 10px !important;
    border: none !important;
    height: 2.5em !important; /* Diminuído levemente */
    width: 100%;
    font-weight: bold;
}
