/* 1. Diminuir o título principal e subheader */
h1 {
    font-size: 1.8rem !important;
    margin-bottom: 0px !important;
}

h3 {
    font-size: 1.2rem !important;
    margin-top: 0px !important;
}

/* 2. Diminuir as métricas (ROI, Payback, Savings) */
/* O rótulo (Label) */
[data-testid="stMetricLabel"] {
    font-size: 0.8rem !important;
}

/* O valor numérico */
[data-testid="stMetricValue"] {
    font-size: 1.5rem !important;
}

/* 3. Diminuir os textos dentro dos containers/cards */
.stMarkdown p {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
}

/* 4. Ajustar os títulos das colunas (Ano 2023, etc) */
h4 {
    font-size: 1rem !important;
    text-align: center;
}
/* 4. TÍTULOS E STATUS */
h4 {
    font-size: 0.85rem !important;
    margin-bottom: 2px !important;
    font-weight: bold;
}

/* Ajuste das mensagens de Viável/Inviável para ficarem menores */
.stAlert {
    padding: 5px !important;
    font-size: 0.75rem !important;
}

/* 5. SIDEBAR MAIS PROFISSIONAL */
[data-testid="stSidebar"] {
    background-color:#2c3e50 !important;
}
.stButton>button {
    background-color: #987807 !important;
    color: white !important;
    border-radius: 10px;
    border: none;
    height: 3em;
    width: 100%;
}


/* Estilizando o container padrão do Streamlit */
[data-testid="stVerticalBlockBorderWrapper"] {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}


